@model IEnumerable<EmpleoITSC.Models.GRADUATEPLUS>

@{
    ViewData["Title"] = "Index";
}

<h1>Estudiantes Destacados</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.gradId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descriptionGrad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.career)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.gradId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descriptionGrad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.career)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photo)
            </td>
            <td>
                @Html.ActionLink("Edit", "ViewInfoEdit", new { id = item.gradId }) |
                @Html.ActionLink("Details", "Details", new { id = item.gradId }) |
                @Html.ActionLink("Delete", "ViewInfoDelete", new { id = item.gradId })
            </td>
        </tr>
}
    </tbody>
</table>
